raytracer.xcodeproj/project.pbxproj
raytracer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
raytracer.xcodeproj/project.xcworkspace/xcuserdata/sturm.xcuserdatad/UserInterfaceState.xcuserstate
raytracer.xcodeproj/xcuserdata/sturm.xcuserdatad/xcschemes/raytracer.xcscheme
raytracer.xcodeproj/xcuserdata/sturm.xcuserdatad/xcschemes/xcschememanagement.plist
